body {
  background-color: #01012e; /* 深蓝色 */
  color: #ffffff; /* 白色字体 */
  font-family: 'Helvetica', sans-serif;
}

nav {
  background-color: #858282; /* add style.css灰色导航栏 */
  padding: 10px;
}

nav a {
  color: #ffffff; /* 白色链接 */
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline; /* 悬停效果 */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}